{% extends 'base.html.twig' %}

{% block title %}Série #{% endblock %}

{% block body %}
    <H1>{{categoryName}}</H1>

 {% for program in programs %}

    <div class="media">
       {# <img class="align-self-start mr-3 w-25" src="" alt="{{ program.title }} poster">#}
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
           <p>Titre: {{ program.synopsis}}</p>

        </div>
        {% endfor %}
    </div>
{% endblock %}