{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <h1>Season</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="text-white">Id</th>
                <td class="text-white">{{ season.id }}</td>
            </tr>
            <tr>
                <th class="text-white">Number</th>
                <td class="text-white">{{ season.number }}</td>
            </tr>
            <tr>
                <th class="text-white">Year</th>
                <td class="text-white">{{ season.year }}</td>
            </tr>
            <tr>
                <th class="text-white">Description</th>
                <td class="text-white">{{ season.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="text-white" href="{{ path('app_season_index') }}">back to list</a>

    <a class="text-white" href="{{ path('app_season_edit', {'id': season.id}) }}">edit</a>

    {{ include('season/_delete_form.html.twig') }}
{% endblock %}
